@charset "UTF-8";

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: var(--primary-color);
  border: 3px solid var(--primaryF-color);
  margin: 5% auto;
  padding: 12px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close-btn {
  color: #aaa;
  font-size: 20px;
  position: absolute;
  top: 8px;
  right: 12px;
  cursor: pointer;
}

.modal h3{
	color: var(--primaryF-color);
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.field label {
  margin-bottom: 4px;
  font-size: 14px;
}

.field input[type="text"],
.field input[type="number"],
.field input[type="date"],
.field textarea {
  background-color: var(--primary-color);
  border: none;
  border-bottom: 2px solid var(--primaryF-color);
  padding: 4px;
  color: var(--primaryF-color);
  outline: none;
  width: 100%;
  font-size: 14px;
}

.options-group {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 4px;
}

.options-group label {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
}

form .add-game-button {
  background-color: var(--primaryF-color);
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
  font-size: 14px;
}

form .add-game-button:hover {
  background-color: var(--primaryF-color);
}

